.container{
    height: 1000px;
    width: 1200px;
    margin: auto;
    margin-top: 3%;

}
.section-header{
    width: 100%;
    height: 10%;
    background-color: #F4CE6A;
}
.heading{
    text-align: center;
    padding-top: 1.5%;
    font-size: 2em;
}
.section-body{
    height: 80%;
    width: 100%;
    background-color: #8D3DAF;
}
.subheading-body{
    height: 5%;
    width: 100%;
    padding-top: 2%;
}
div.subheading{
    text-align: center;
    font-size: 1.5em;
}
.form{
    height: 45%;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
.left{
    height: 100%;
    width: 40%;
    float: left;
    
}
.left-label{
    width: 10%;
    float: left;
   
}
.label{
    padding-bottom: 100%;
    font-size: 2em;
}
.left-value{
    width: 30%;
    float: left;
    margin-left: 20%;
}
.value{
    padding-bottom: 130%;
    font-size: 2em;
    
}
.right{
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 5%;
}
.right-label{
    width: 10%;
    float: left;
   
}
.label{
    padding-bottom: 100%;
    font-size: 1.8em;
}
.right-value{
    width: 30%;
    float: left;
    margin-left: 20%;
}
.value{
    padding-bottom: 130%;
    font-size: 2em;
    
}
.submit-form{
    height: 10%;
    width: 100%;
    padding-top: 30%;
}
.submit{
    text-align: center;
    
}
.btn-submit{
    padding: 2%;
    font-size: 1.5em;
}
.section-details{
    height: 60%;
    width: 100%;
    margin: auto;
    margin-top: 3%;
}
table,td,thead{
    border: 2px solid black;
    margin: auto;
}
 #show td{
	padding: 13px;
}
td{
   
    font-size: 2em;
}
.button{
    height: 70%;
    width: 20%;
    margin: auto;
}
.btn-update{
  width: 50%;
    float: left;
}
.btn-delete{
  width: 10%;
}
